@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,900");
@import url("https://fonts.googleapis.com/css?family=Nothing+You+Could+Do");
html,
body {
  margin: 0px;
  font-family: 'Raleway', sans-serif; }

.initial-hide {
  opacity: 0; }

body {
  background: #cb2d3e url("../images/whitenoise.png");
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #cb2d3e, #ef473a), url("../images/whitenoise.png");
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, right top, left top, from(#cb2d3e), to(#ef473a)), url("../images/whitenoise.png");
  background: -webkit-linear-gradient(right, #cb2d3e, #ef473a), url("../images/whitenoise.png");
  background: linear-gradient(to left, #cb2d3e, #ef473a), url("../images/whitenoise.png");
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /*background-blend-mode: multiply;*/
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none; }

.navigation {
  text-size-adjust: auto;
  font-size: 18px;
  text-transform: uppercase;
  font-family: Raleway, sans-serif;
  color: rgba(255, 255, 255, 0.78);
  position: fixed;
  width: 96%;
  padding: 1% 2%;
  top: 0px;
  left: 0px;
  background-color: #de3b3c;
  z-index: 2; }
  .navigation nav {
    /*padding: 30px 40px;*/
    text-size-adjust: auto; }
    .navigation nav a {
      font-size: 18px;
      text-transform: uppercase;
      font-family: 'Raleway', sans-serif;
      color: rgba(255, 255, 255, 0.78);
      text-decoration: none; }
    .navigation nav .navbar-brand {
      display: inline-block; }
      .navigation nav .navbar-brand a {
        font-size: 25px;
        font-weight: bold; }
    .navigation nav .navbar-links {
      float: right;
      display: inline-block;
      /* remove this bellow style after completion of these pages */
      text-decoration: line-through;
      /* remove till here */ }
      .navigation nav .navbar-links:after {
        content: "Work under progress! :D";
        text-decoration: none;
        display: inline-block;
        font-weight: bold;
        font-size: 12px;
        text-align: center;
        width: 100%; }
      .navigation nav .navbar-links ul {
        padding: 0px;
        margin: 0px; }
        .navigation nav .navbar-links ul li {
          display: inline;
          padding: 0px 20px; }

.name-animate {
  position: relative;
  display: table;
  width: 100%;
  /* remove this bellow style after completion of other pages */
  margin-top: 25vh;
  /* till here */ }
  .name-animate h1 {
    padding: 0px;
    margin: 0px;
    text-align: center; }
  .name-animate .name-surname {
    text-transform: uppercase;
    font-size: 15vw;
    background: #cb2d3e url("../images/whitenoise.png");
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #cb2d3e, #ef473a), url("../images/whitenoise.png");
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-gradient(linear, right top, left top, from(#cb2d3e), to(#ef473a)), url("../images/whitenoise.png");
    background: -webkit-linear-gradient(right, #cb2d3e, #ef473a), url("../images/whitenoise.png");
    background: linear-gradient(to left, #cb2d3e, #ef473a), url("../images/whitenoise.png");
    font-family: 'Raleway', sans-serif;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #d7363c; }
    .name-animate .name-surname:after {
      content: "KONAR";
      color: #000;
      /*text-shadow: 8px 20px 52px rgba(0, 0, 0, 0.6);*/
      text-shadow: 8px 11px 33px rgba(0, 0, 0, 0.6);
      position: absolute;
      text-align: center;
      width: 100%;
      left: 0px;
      z-index: -1; }
  .name-animate .name-firstname {
    font-family: 'Nothing You Could Do', cursive;
    color: rgba(255, 255, 255, 0.78);
    font-size: 7vw;
    position: absolute;
    width: 100%;
    top: 0px;
    line-height: 2.5;
    letter-spacing: 7px;
    display: table; }
  .name-animate .me-saying {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: rgba(255, 255, 255, 0.65);
    font-size: 20px;
    padding: 0px;
    margin: 0px;
    position: relative;
    width: 100%;
    top: -15px; }
    .name-animate .me-saying strong {
      display: block; }
      .name-animate .me-saying strong span {
        background-color: white;
        color: #cf303e;
        padding: 5px 10px;
        display: inline-block;
        margin-top: 8px;
        -webkit-transform: skew(-20deg);
        -ms-transform: skew(-20deg);
        transform: skew(-20deg); }

.img-responsive {
  width: 100%; }

.section-title {
  color: #d7343c;
  font-size: 44px;
  text-transform: capitalize;
  margin: 0px; }

.about {
  margin: 200px 0px; }
  .about .about-box {
    display: table;
    background-color: #f4f4f4;
    padding: 0px 20px; }
    .about .about-box .about-divide50 {
      width: 50%;
      display: table-cell;
      vertical-align: top;
      padding: 30px 2%; }
      .about .about-box .about-divide50.about-picture {
        position: relative; }
        .about .about-box .about-divide50.about-picture img.img-responsive {
          border: 10px solid #ffffff;
          width: 95%;
          /* top: -135px;*/
          position: relative;
          z-index: 1; }
        .about .about-box .about-divide50.about-picture .viewmore-detailsbtn {
          text-align: center;
          width: 90%;
          position: absolute;
          bottom: 70px; }
          .about .about-box .about-divide50.about-picture .viewmore-detailsbtn span {
            cursor: pointer;
            background-color: #ce303e; }
            .about .about-box .about-divide50.about-picture .viewmore-detailsbtn span:hover {
              background-color: #d85964; }
          .about .about-box .about-divide50.about-picture .viewmore-detailsbtn span,
          .about .about-box .about-divide50.about-picture .viewmore-detailsbtn img {
            display: inline-block;
            color: #fff;
            padding: 5px 10px;
            vertical-align: middle;
            font-size: 20px; }
          .about .about-box .about-divide50.about-picture .viewmore-detailsbtn img {
            width: 30px;
            padding-left: 5px;
            padding-right: 5px; }
      .about .about-box .about-divide50 .about-me {
        font-weight: 300;
        font-size: 22px; }

/* media queries */
@media only screen and (min-width: 992px) {
  .container {
    width: 992px;
    margin: 0px auto; } }

@media only screen and (max-width: 992px) {
  .container {
    width: 80%;
    margin: 0px auto; }
  .name-animate {
    margin-top: 35vh; }
    .name-animate .name-surname:after {
      text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.6); }
    .name-animate .me-saying {
      font-size: 10px;
      top: inherit; }
  .navigation {
    padding: 3% 2%; }
    .navigation nav {
      /* padding: 30px 10px;*/ }
      .navigation nav .navbar-brand {
        display: block;
        text-align: center;
        padding: 0px 0px 10px; }
      .navigation nav .navbar-links {
        text-align: center;
        width: 100%;
        float: none;
        width: 100%; }
        .navigation nav .navbar-links ul li {
          padding: 0px 5px;
          font-size: 16px; }
  .about .about-box .about-divide50 {
    width: 96%;
    display: inline-block;
    padding-bottom: 10px; }
    .about .about-box .about-divide50.about-picture img.img-responsive {
      width: 92%; }
    .about .about-box .about-divide50.about-picture .viewmore-detailsbtn {
      width: 96%;
      bottom: 30px; }
    .about .about-box .about-divide50.about-content {
      padding: 0px; }
  .section-title {
    text-align: center; } }
